

<html>

<head>
<title>
Major Project Files
</title>
</head>
<body align="center" style="background-color:MediumSeaGreen">
<a style="text-decoration:none" href="http://cvr.ac.in"><h3>CVR CSE-C_2020</h3></a>
<h4>Major PROJECT</h4>
<h4>ML BASED REALESTATE FORECASTING</h4>
<h5 style:color="Orange">GUIDE : PROFESSOR_NAME </h5>
<h5 style:color="brown">TEAM MEMBERS:</h5>
PERSON_1
<BR>
PERSON_2
<BR>
PERSON_3
<br>





<a style="text-decoration:none" href="/static/files/ppt.pptx"><h3>
PPT</h3>
</a>

<a style="text-decoration:none" href="/static/files/report.docx"><h3> DOCUMENTATION </h3> </a> 
<a style="text-decoration:none" href="/code_login"><h3>Project Code</h3>
</a>


</body>
</html>